<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DayMapper">
    <select id="getDay" resultType="pojo.Day">
    select * from day limit 1
  </select>
    <update id="updateDay" parameterType="pojo.Day">
        update day set day=#{day} where code=#{code}
    </update>
    <insert id="insertDay" parameterType="pojo.Day">
        insert into day(`day`, code) values (#{day},#{code})
    </insert>
    <delete id="deleteDay" parameterType="int">
        delete from day where code =#{code}
    </delete>
    <update id="updateDay2" parameterType="map">
        update day set day=#{day_day} where code=#{day_code}
    </update>
    <select id="getDayByDay" parameterType="int" resultType="pojo.Day">
        select * from day where code like concat('%',#{code},'%')
    </select>
</mapper>